.footerMain {
    background-color:lightblue;
    margin-top: 40px;
    color: steelblue;
    text-align: center;
    margin-bottom: 0px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footerMain > div {
    padding: 15px;
}